@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.block-1,
.block-wrapper,
.block-2,
.block-3,
.animations,
.examples,
.example,
.block-5 {
  display: flex;
  flex-direction: column;
}

.block-1,
.animations,
.examples,
.example,
.block-5 {
  gap: 20px;
}

.block-1 {
  position: relative;
}

.block-wrapper {
  @include lgGap;

  .block-2 {
    @include smGap;
    @include lgMarginTop;

    .subtitle {
      margin-top: 10px;
      color: $dark-gray;
    }
  }

  .block-3 {
    .languages,
    input {
      margin-top: 20px;
    }

    .languages {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  .block-4 {
    .options {
      position: relative;
      @include options;
      margin-top: 20px;
    }

    .animations {
      @include lgMarginTop;

      .examples {
        position: relative;
        @include smGap;
      }
    }
  }
}
